<header class="header">
        <a routerLink="/">
            <div class="header__link">
                <div class="header__link--image"></div>
                <h1 class="header__link--title">
                    INMOCO
                </h1>
            </div>
        </a>
        <nav>
            <div class="nav__button-container">
                <button disableRipple mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                        <div class="shop-grid__item" *ngFor="let shopItem of shopItems">
                                <div class="shop-grid__item--image">
                                    <img [src]=shopItem.imagePath>
                                </div>
                                <p class="shop-grid__item--title"> {{shopItem.title}} </p>
                                <p class="shop-grid__item--price"> ${{shopItem.price}} </p>
                        </div>
                </mat-menu>
            </div>
            <h2>
                SIGN UP/
                SIGN IN
            </h2>
        </nav>
</header>