.header {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
}

.header__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 7rem;
    width: 16rem;
    background: url(../../assets/img/logo2.jpeg) center/cover;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left;
}

.header__link:hover {
    background: url(../../assets/img/logo2hover.jpeg) center/cover;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left;
}

.header__link--title {
    color: black;
}

.header a:hover .header__link--title  {
    color: #4b0082;
}

.header nav {
    align-items: center;
    display: flex;
    width: 10rem;
    justify-content: space-around;
}

mat-icon {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    vertical-align: bottom;
}

.shop-grid__item--image img {
    width: 100%;
}

.shop-grid__item {
    justify-content: center;
}

h2 {
    font-size: 1rem;
}