.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

.footer nav {
    display: flex;
}

.footer img {
    border-radius: .75rem;
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
}

.footer a {
    font-size: 1rem;
    text-decoration: underline;
}

.footer a:hover {
    color: #4b0082;
    cursor: pointer;
}