.container {
  display: flex;
  flex-direction: column;
}

.shop-item--container {
  margin-bottom: 1rem;
}

.shop-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.shop-item__image {
  height: 100%;
  width: 20%;
  display: inline-block;
  cursor: pointer;
}

.shop-item__description {
  height: 100%;
  width: 70%;
  display: inline-block;
}

.row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

hr {
  width: 90%;
  margin: auto;
}

.checkout-container {
  display: flex;
  justify-content: center;
}

button {
  background: black;
  color: white;
  width: 50%;
}

input[type=number] {
  width: 2rem;
  height: 1.5rem;
  font-size: 1rem;
  padding: 0;
  margin-right: 1rem;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: black solid 1px;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1
}

.total {
  margin: 1rem auto;
}
