<div>
  <h1 class="typewriter">THE HOUSE OF</h1>
  <img src="../assets/img/logo.jpg" alt="" />
  <p class="typewriter">
    Indigo Motoring Company creates hand crafted clothing inspired by the
    transportation modes of past, present and future. By studying details in the
    vehicle designs that inspire our collections, we create pieces using high
    grade textiles and thread on both modern and antique machines. INMOCO’s aim
    is to make clothing in the spirit of “durable high fashion”, by showing our
    clients classic styles of garments that are strong enough to withstand the
    test of time both visually and physically. Because, the world needs better
    cloth.
  </p>
</div>
