/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
* { 
    margin: 0; 
    font-family: "typewriter", Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 0.1rem;
    box-sizing: border-box;
}


.ind {
    color: #4b0082;
    background-color: white;
}

.invisible {
    display: none;
}
