<footer class="footer">
  <a class="typewriter" routerLink="/mission">
    THE MISSION
  </a>
  <nav>
    <a
      href="https://www.facebook.com/indigomotoringco"
      target="_blank"
      class="facebook"
    >
      <img src="assets/img/facebook.png" />
    </a>
    <a
      href="https://www.instagram.com/indigomotoringco"
      target="_blank"
      class="instagram"
    >
      <img src="assets/img/instagram.png" />
    </a>
    <a href="mailto:indigomotoringco@gmail.com" class="gmail">
      <img id="gmail" src="assets/img/gmail.png" />
    </a>
  </nav>
</footer>
